# This file is where you keep secret settings, passwords, and tokens!
# If you put them in the code you risk committing that info or sharing it
# which would be not great. So, instead, keep it all in this one file and
# keep it a secret.

secrets = {
    'ssid': "",
    'password': "_your_ssid_password_",
    'timezone': "America/New_York",  # http://worldtimeapi.org/timezones
    'broker': "_your_mqtt_broker_url_or_ip_",
    'broker_user': "",  # _your_mqtt_broker_username_
    'broker_pass': "",  # _your_mqtt_broker_password_
    'topic_prefix': "/pyportal",  # _prefix_for_device_mqtt_topics
    'aio_username': '_your_aio_username',
    'aio_key': '_your_aio_key',
    'openweather_token': '_your_weather_token',  # https://home.openweathermap.org/users/sign_up
    'openweather_location_id': '5106292',  # http://bulk.openweathermap.org/sample/
    }
